<header class="main-header">
  <div class="container_header">
    <div class="logo d-flex align-items-center">
      <a href="#">
        <strong class="logo_icon">
          <img src="assets/images/newlogo.png" alt="" />
        </strong>
        <span class="logo-default">
          <img src="assets/images/newlogo.png" alt="" />
        </span>
      </a>
      <div class="icon_menu full_menu"></div>
    </div>
    <div class="right_detail">
      <div class="row d-flex align-items-center min-h pos-md-r">
        <div class="col-xl-5 col-3 search_col">
          <div class="top_function"></div>
        </div>
        <div class="col-xl-7 col-9 d-flex justify-content-end">
          <div class="right_bar_top d-flex align-items-center">
            <!-- notification_Start -->
            <!-- <div class="dropdown dropdown-notification">
              <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false"> <i class="fa fa-bell-o"></i> <span class="badge_coun"> 6 </span> </a>
              <ul class="dropdown-menu scroll_auto height_fixed" >
                <li class="bigger">
                  <h3><span class="bold">Notifications</span></h3>
                  <span class="notification-label">New 6</span>
                </li>
                <li>
                  <ul class="dropdown-menu-list">
                    <li>
                      <a href="javascript:;"> <span class="time">just now</span> <span class="details"> <span class="notification-icon deepPink-bgcolor"> <i class="fa fa-check"></i> </span> Congratulations!. </span> </a>
                    </li> 
                  </ul>
                </li>
              </ul>
            </div> -->
            <!-- notification_End -->
            <!-- DropDown_Inbox -->
            <!-- <div class="dropdown dropdown-inbox">
              <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> <i class="fa fa-envelope-o"></i> <span class="badge_coun"> 2 </span> </a>
              <ul class="dropdown-menu scroll_auto height_fixed" >
                <li class="bigger">
                  <h3><span class="bold">Messages</span></h3>
                  <span class="notification-label">New 2</span>
                </li>
                <li>
                  <ul class="dropdown-menu-list">
                    <li>
                      <a href="#"> <span class="photo"> <img src="assets/images/about-1.jpg" class="img-circle" alt=""> </span> <span class="subject"> <span class="from"> Sarah Smith </span> <span class="time">Just Now </span> </span> <span class="message"> Jatin I found you on LinkedIn... </span> </a>
                    </li> 
                  </ul>
                </li>
              </ul>
            </div> -->
            <!--DropDown_Inbox_End -->
            <!-- Dropdown_User -->
            <div class="dropdown dropdown-user">
              <button class="dropdown-toggle btn btn-outline-danger" (click)="logout()">
                <span class="material-icons" style="margin-top: 10%;">
                  exit_to_app
                </span>
              </button>
            </div>
            <!-- Dropdown_User_End -->
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
