<div class="sufee-login d-flex align-content-center flex-wrap">
  <div class="container">
      <div class="login-content">
          <div class="login-form">
      <div  align="center">
        <img alt="" src="assets/images/logo_login.png" width="260">
                  </div>
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h1 align="center" style="margin: 12px; color: #c00000">- Test Zenhosting -</h1> 
      <h3 align="center" style="margin: 12px; color: #000; "> Authentification</h3> 
                  <div class="form-group">
                      <label>Email :</label>
                      <input type="text" class="form-control"   placeholder="" required formControlName="email">
                      <div *ngIf="submitted && loginForm.controls.email.errors" class="invalid-feedback d-block">
                        <div *ngIf="loginForm.controls.email.errors.required">
                         Adresse email obligatoire
                        </div>
                        <div *ngIf="loginForm.controls.email.errors.email">
                          Veuillez saisir une adresse email valide
                        </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label>Mot de passe :</label>
                      <input type="password" class="form-control"   placeholder="" required formControlName="password" > 
                      <div *ngIf="submitted && loginForm.controls.email.errors" class="invalid-feedback d-block">
                        <div *ngIf="loginForm.controls.password.errors.required">
                        Mot de passe obligatoire
                        </div>
                        
                      </div>
                  </div>
                  
                  <button type="submit" class="btn btn-info btn-flat m-b-30 m-t-30" >Se Connecter</button>
                  <br>
                  <br>
                  <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30" [routerLink]="['signup']">Insrivez</button>
                 
              </form>
          </div>
      </div>
  </div>
</div>
